* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "IBM Plex Serif", serif;
  font-size: 1.3em;
}

header {
  position: fixed;
  top: 0;
  width: 100vw;
  max-width: 100%;
}

#greetings {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#greetings h1 {
  text-align: center;
  font-size: 3em;
  padding-bottom: 1em;
}

#greetings p {
  text-align: center;
}

#project-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 3em 1em;
}

#project-list h3 {
  text-align: center;
}

#project-list>div {
  width: 17em;
  min-height: 300px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 3px 6px 0px 0px #000;
}

#project-list>div hr {
  margin: 1em;
}

#project-list>div>div:nth-child(2) {
  text-align: center;
}

#project-list>div>div:nth-child(2) a {
  margin: 0 1em;
}

#blog-posts p {
  text-align: center;
}

body {
  background-image: linear-gradient(to bottom right, red, orange, yellow), url(https://grainy-gradients.vercel.app/noise.svg);
  background-blend-mode: overlay;
}

body>div {
  margin: 0 auto;
  max-width: 1200px;
  background-color: white;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  background-color: white;
  border-bottom: 1px solid #ccc;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5em 2em;
  background-color: white;
}

section {
  margin: 0 2em;
}

section h2 {
  text-align: center;
  padding: 1em 0;
  font-size: 2em;
}

header ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 1em;
}

a {
  color: black;
}

hr {
  margin: 0 auto;
  margin-top: 5em;
  margin-bottom: 1em;
  max-width: 1100px;
}
