* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#hero {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom right, red, orange, yellow);
  font-size: 5em;
  font-weight: bold;
  color: white;
  margin-bottom: 1em;
}

#project-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2em;
}

#project-list h3 {
  text-align: center;
}

#project-list>div {
  width: 15em;
  flex-shrink: 0;
  background-color: #422;
  min-height: 200px;
  border-radius: 1em;
  box-shadow: 2px 2px 5px 0px #999;
  color: white;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#project-list>div hr {
  margin: 1em;
}

#project-list>div a {
  color: white;
}

#project-list>div>div:nth-child(2) {
  text-align: center;
}

#project-list>div>div:nth-child(2) a {
  margin: 0 1em;
}

#blog-posts p {
  text-align: center;
}

main {
  margin: 0 auto;
  max-width: 1000px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 2em;
}

section {
  margin: 0 2em;
}

section h2 {
  text-align: center;
  padding: 1em 0;
  font-size: 2em;
}

header ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 1em;
}

a {
  color: black;
}

hr {
  margin: 0 auto;
  margin-top: 5em;
  margin-bottom: 1em;
  max-width: 1100px;
}
