* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#hero {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom right, red, orange, yellow);
  font-size: 5em;
  font-weight: bold;
  color: white;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 2em;
}

section h2 {
  text-align: center;
  padding: 1em 0;
  font-size: 2em;
}

header ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 1em;
}

a {
  text-decoration: none;
  color: black;
}
